{% load static %}

<!DOCTYPE html>
<html lang="pl">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/favicon.svg' %}">
    <title>TechWorld</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <script src="{% static 'js/navbar.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"> </script>
    <script src="{% static 'js/slick.js' %}"></script>


</head>
<body>

    {% include 'navbar.html' %}

    {% block content %}
    {% endblock %}

</body>
</html>